<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org">
  <head th:replace="commons/header :: header" />
<body>
  <div th:replace="commons/menu :: menu" />

    <!-- CARDS -->

    <div class="container">
        <div class="row">
          <div class="col-3">
            <form style="width: 18em;" th:action="@{/productos/save}" method="post">
              <input type="hidden" th:value="${producto.codigo}" name="codigo">
              <div class="mb-3">
                <label for="exampleInput1" class="form-label">Nombre</label>
                <input th:value="${producto.nombre}" type="text" name="nombre" class="form-control" id="exampleInput1">
              </div>
              <div class="mb-3">
                <label for="exampleInput1" class="form-label">Descripcion</label>
                <input th:value="${producto.descripcion}" type="text" name="descripcion" class="form-control" id="exampleInput1">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Precio</label>
                <input th:value="${producto.precio}" type="text" class="form-control" name="precio" id="exampleInputPrecio1">            
              </div>        
              <a class="btn btn-primary" th:href="@{/productos/list}" href="#" role="button">Cancelar</a>
              <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
          </div>
        </div>
    </div>
    
    <div th:replace="commons/footer :: footer" class="container" />
</body>
</html>