<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <div th:replace="commons/menu :: menu" />

  <!-- CARDS -->

  <div class="container">
    <div class="row g-5">

      <div class="col-8">
        <h4 th:text="#{cliente.boton.nuevo}" class="mb-3">Nuevo Cliente</h4>
        <form class="needs-validation" method="post" th:action="@{/clientes/save}" novalidate>
          <input type="hidden" name="codigo" th:value="${cliente.codigo}">
          <div class="row g-4">
            <div class="col-sm-6">
              <label th:text="#{cliente.nombre}" for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder=""
                th:value="${cliente.nombre}" value="" required>
              <div class="invalid-feedback">
                Nombre requerido.
              </div>
            </div>

            <div class="col-sm-6">
              <label th:text="#{cliente.apellidos}" for="lastName" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder=""
                th:value="${cliente.apellidos}" value="" required>
              <div class="invalid-feedback">
                Apellidos requeridos.
              </div>
            </div>

            <div class="col-sm-6">
              <label th:text="#{cliente.dni}" for="dni" class="form-label">DNI</label>
              <input type="text" class="form-control" id="dni" name="dni" placeholder="" th:value="${cliente.dni}"
                value="" required>
              <div class="invalid-feedback">
                Dni requerido.
              </div>
            </div>

            <div class="col-sm-6">
              <label th:text="#{cliente.telefono}" for="telefono" class="form-label">Teléfono <span class="text-muted">(Opcional)</span></label>
              <input type="text" class="form-control" id="telefono" name="telefono" placeholder=""
                th:value="${cliente.telefono}" value="">
            </div>

            <div class="col-sm-12">
              <label th:text="#{cliente.direccion}" for="address" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="address" name="direccion" th:value="${cliente.direccion}"
                placeholder="Calle San Francisco, 89" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-sm-12">
              <label th:text="#{cliente.email}" for="email" class="form-label">Email <span class="text-muted">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" name="email" th:value="${cliente.email}"
                placeholder="tu@ejemplo.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="vip" name="vip" th:checked="${cliente.vip}">
                <label th:text="#{cliente.vip}" class="form-check-label" for="vip">Es cliente VIP</label>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <div class="col-sm-12">
            <div class="btn-group">
              <a th:text="#{boton.cancelar}" class="btn btn-primary" th:href="@{/clientes/list}" href="#" role="button">Cancelar</a>
              <button th:text="#{boton.crear}" class="btn btn-primary" type="submit">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>